.alert-success a:not(.btn),
.alert-success a:hover:not(.btn),
.alert-success {
  color: c(v, 8);
  background-color: c(v, 2);
  border-color: c(v, 3);
}
.alert-info a:not(.btn),
.alert-info a:hover:not(.btn),
.alert-info {
  color: c(b, 8);
  background-color: c(b, 2);
  border-color: c(b, 3);
}
.alert-warning a:not(.btn),
.alert-danger a:hover:not(.btn),
.alert-warning {
  color: c(o, 8);
  background-color: c(o, 2);
  border-color: c(o, 3);
}
.alert-danger a:not(.btn),
.alert-danger a:hover:not(.btn),
.alert-danger {
  color: c(r, 8);
  background-color: c(r, 2);
  border-color: c(r, 3);
}
