.bg-primary,
.bg-primary a:not(.btn),
a.bg-primary:focus:not(.btn),
a.bg-primary:hover:not(.btn) {
  color: #fff;
  background-color: c(f, 7);
}
.bg-success, a.bg-success:hover:not(.btn) {
  background-color: c(v, 2);
}
.bg-info, a.bg-info:hover:not(.btn) {
  background-color: c(b, 2);
}
.bg-warning, a.bg-warning:hover:not(.btn) {
  background-color: c(o, 2);
}
.bg-danger,a.bg-danger:hover:not(.btn) {
  background-color: c(r, 3);
}
