.panel-primary { border-color: c(f, 7); }
.panel-primary > .panel-heading { color: #fff; background-color: c(f, 7); border-color: c(f, 7); }
.panel-primary > .panel-heading + .panel-collapse > .panel-body { border-top-color: c(f, 7); }
.panel-primary > .panel-heading .badge { color: c(f, 7); }
.panel-primary > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: c(f, 7); }

.panel-success { border-color: c(v, 6); }
.panel-success > .panel-heading { color: #fff; background-color: c(v, 6); border-color: c(v, 6); }
.panel-success > .panel-heading + .panel-collapse > .panel-body { border-top-color: c(v, 6); }
.panel-success > .panel-heading .badge { color: c(v, 6); }
.panel-success > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: c(v, 6); }

.panel-info { border-color: c(b, 7); }
.panel-info > .panel-heading { color: #fff; background-color: c(b, 7); border-color: c(b, 7); }
.panel-info > .panel-heading + .panel-collapse > .panel-body { border-top-color: c(b, 7); }
.panel-info > .panel-heading .badge { color: c(b, 7); }
.panel-info > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: c(b, 7); }

.panel-warning { border-color: c(o, 7); }
.panel-warning > .panel-heading { color: #fff; background-color: c(o, 7); border-color: c(o, 7); }
.panel-warning > .panel-heading + .panel-collapse > .panel-body { border-top-color: c(o, 7); }
.panel-warning > .panel-heading .badge { color: c(o, 7); }
.panel-warning > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: c(o, 7); }

.panel-danger { border-color: c(r, 8); }
.panel-danger > .panel-heading { color: #fff; background-color: c(r, 8); border-color: c(r, 8); }
.panel-danger > .panel-heading + .panel-collapse > .panel-body { border-top-color: c(r, 8); }
.panel-danger > .panel-heading .badge { color: c(r, 8); }
.panel-danger > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: c(r, 8); }
