
.alert-primary {
  color: c(f, 8);
  fill: c(f, 7);
  background-color: c(f, 2);
  border-color: c(f, 3);

  & .alert-link {
    color: c(f, 9);
    fill: c(f, 8);
  }
}

.alert-secondary {
  color: c(g, 8);
  fill: c(g, 7);
  background-color: c(g, 2);
  border-color: c(g, 3);

  & .alert-link {
    color: c(g, 9);
    fill: c(g, 8);
  }
}

.alert-success {
  color: c(v, 8);
  fill: c(v, 7);
  background-color: c(v, 2);
  border-color: c(v, 3);

  & .alert-link {
    color: c(v, 9);
    fill: c(v, 8);
  }
}

.alert-info {
  color: c(b, 8);
  fill: c(b, 7);
  background-color: c(b, 2);
  border-color: c(b, 3);

  & .alert-link {
    color: c(b, 9);
    fill: c(b, 8);
  }
}

.alert-warning {
  color: c(o, 8);
  fill: c(o, 7);
  background-color: c(o, 2);
  border-color: c(o, 3);

  & .alert-link {
    color: c(o, 9);
    fill: c(o, 8);
  }
}
.alert-danger {
  color: c(r, 8);
  fill: c(r, 7);
  background-color: c(r, 2);
  border-color: c(r, 3);

  & .alert-link {
    color: c(r, 9);
    fill: c(r, 8);
  }
}
