.btn-soutenir {
  color: c(d, 1);
  fill: c(d, 1);
  background: c(j, 8) linear-gradient(30deg, c(j, 7), c(j, 6));
  border-color: c(j, 7);

  &:hover,
  &:focus, &.focus {
    color: c(d, 1);
    fill: c(d, 1);
    background: darken(c(j, 8), 7.5%) linear-gradient(30deg, darken(c(j, 7), 7.5%), darken(c(j, 6), 7.5%));
    border-color: darken(c(j, 7), 10%);
  }

  &:focus, &.focus{
    box-shadow: 0 0 0 0.2rem rgba(205, 134, 68, 0.5);
  }

  &.disabled, &:disabled {
    color: c(d, 1);
    fill: c(d, 1);
    background: c(j, 7) linear-gradient(30deg, c(j, 7), c(j, 6));
    border-color: c(j, 6);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: c(d, 1);
    fill: c(d, 1);
    background: darken(c(j, 7), 10%) linear-gradient(30deg, darken(c(j, 7), 10%), darken(c(j, 6), 10%));
    border-color: darken(c(j, 7), 12.5%);

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(205, 134, 68, 0.5);
    }
  }
}

.btn-outline-soutenir {
  color: c(j, 7);
  fill: c(j, 6);
  border-color: c(j, 7);

  &:hover {
    color: c(d, 1);
    fill: c(d, 1);
    background: c(j, 7) linear-gradient(30deg, c(j, 7), c(j, 6));
    border-color: c(j, 7);
  }

  &:focus, &.focus {
    box-shadow: 0 0 0 0.2rem rgba(196, 113, 35, 0.5);
  }

  &.disabled, &:disabled {
    color: c(j, 7);
    fill: c(j, 6);
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: c(d, 1);
    fill: c(d, 1);
    background: c(j, 7) linear-gradient(30deg, c(j, 7), c(j, 6));
    border-color: c(j, 7);

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(196, 113, 35, 0.5);
    }
  }
}

@for $i from 1 through 9 {
  .btn-#{nth($bsClass, $i)} {
    fill: c(d, 1);

    &:hover,
    &:focus, &.focus {
      fill: c(d, 1);
    }


    &.disabled, &:disabled {
      fill: c(d, 1);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      fill: c(d, 1);
    }
  }

  .btn-outline-#{nth($bsClass, $i)} {
    fill: bs('c-1', $i);

    &:hover {
      fill: c(d, 1);
    }

    &.disabled, &:disabled {
      fill: bs('c-1', $i);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      fill: c(d, 1);
    }
  }
}
