.btn-link,
p > a:not(.btn),
li:not([class]) > a:not(.btn) {
  color: c(d, 9);
  fill: c(d, 8);
  text-decoration: none;
  background-image:
    linear-gradient(c(f, 5),c(f, 5)),
    linear-gradient(c(g, 5),c(g, 5));
  background-size: 0% 2px, 100% 2px;
  background-position: center bottom, center bottom;
  transition: background-size 0.25s ease-in-out;
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 2px;

  &:hover, &:focus {
    color: c(g, 9);
    fill: c(g, 8);
    text-decoration: none;
    background-size: 100% 2px;
  }
}
