<template>
  <span
    v-if="name2 !== ''"
  >
    <span
      :class="`fa-stack ${size.replace(/^(?:fa-)?(.+?)/, 'fa-$1')}`"
      aria-hidden="true"
      :title="srOnly ? $t(label, '-kt') : false"
    >
      <i
        :class="`fa ${name2.replace(/^(?:fa-)?(.+?)/, 'fa-$1')} fa-stack-2x
          ${variant2}`"
      ></i>
      <i
        :class="`fa ${name.replace(/^(?:fa-)?(.+?)/, 'fa-$1')} fa-stack-1x
          ${variant}`"
      ></i>
    </span>
    <span
      v-if="srOnly && label !== ''"
      class="sr-only"
      v-html="$t(label, '-kt')"
    ></span>
    <span
      v-else-if="label !== ''"
      v-html="label"
    ></span>
  </span>
  <span v-else>
    <i
      :class="`fa ${name.replace(/^(?:fa-)?(.+?)/, 'fa-$1')}
        ${size.replace(/^(?:fa-)?(.+?)/, 'fa-$1')} ${variant}`"
      aria-hidden="true"
      :title="srOnly ? $t(label, '-kt') : false"
    ></i>
    <span
      v-if="srOnly && label !== ''"
      class="sr-only"
      v-html="$t(label, '-kt')"
    ></span>
    <span
      v-else-if="label !== ''"
      v-html="label"
    ></span>
  </span>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    size: {
      type: String,
      default: '',
    },
    variant: {
      type: String,
      default: '',
    },
    name2: {
      type: String,
      default: '',
    },
    variant2: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    srOnly: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
