<template>
  <span>
    <div
      :class="`svg-icon si-${name} ${variant}`"
      aria-hidden="true"
      v-html="html"
    ></div>
    <span
      v-if="label !== ''"
      :class="srOnly ? 'sr-only' : ''"
      v-html="label"
    ></span>
  </span>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: 'egg',
    },
    size: {
      type: String,
      default: '',
    },
    variant: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    srOnly: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      file: 'solid/egg.svg',
      html: '',
    };
  },
  mounted() {
    this.file = `${this.name
      .replace(/^r-(.*)$/, 'regular')
      .replace(/^b-(.*)$/, 'brands')
      .replace(/^(?!regular|brand)(.*)$/, 'solid')}/${
      this.name.replace(/^(r-|b-|s-)/, '')
    }.svg`;

    const d = document.createElement('div');
    d.innerHTML = this.file !== ''  
      ? require(`!svg-inline-loader!../../../../../app/assets/img/icons/fa/${this.file}`) // eslint-disable-line
      : '';
    const svg = d.firstElementChild;

    if (svg.nodeName === 'svg') {
      this.recursivelyRemoveFill(svg);

      const sizeClass = this.size.split(' ');
      for (let i = 0; i < sizeClass.length; i += 1) {
        if (sizeClass[i]) {
          svg.classList.add(sizeClass[i].replace(/^(?:fa-)?(.+?)/, 'fa-$1'));
        }
      }

      this.html = d.innerHTML;
    }
  },
  methods: {
    recursivelyRemoveFill(e) {
      if (!e) {
        return;
      }
      e.removeAttribute('fill');
      [].forEach.call(e.children, (child) => {
        this.recursivelyRemoveFill(child);
      });
    },
  },
};
</script>

<style lang="scss">
.svg-icon {
  display: inline-flex;
  vertical-align: middle !important;
  text-align: center;
  margin-top: -.125em;

  &.fa-inverse {
    fill: #fff; // fc-light
  }

  svg {
    height: 1em;
  }

  .fa-fw {
    text-align: center;
    width: 1.25em;
  }

  .fa-xs { font-size: .75em; }
  .fa-sm { font-size: .875em; }
  .fa-1x { font-size: 1em; }
  .fa-lg {
    font-size: 1.33em;
    // line-height: .75em;
    margin-top: -.0667em; // vertical-align dont work with inline-flex
  }
  .fa-2x { font-size: 2em; }
  .fa-3x { font-size: 3em; }
  .fa-4x { font-size: 4em; }
  .fa-5x { font-size: 5em; }
  .fa-6x { font-size: 6em; }
  .fa-7x { font-size: 7em; }
  .fa-8x { font-size: 8em; }
  .fa-9x { font-size: 9em; }
  .fa-10x { font-size: 10em; }

  &.square,
  &.circle,
  &.disc {
    padding: .5em;
    border-width: .2em;
    border-style: solid;
    height: min-content;
    width: min-content;
    max-width: none;
    min-width: auto;
    line-height: 1;

    svg {
      margin: 0;
      height: 1em;
      width: 1em;
      max-width: none;
      min-width: auto;
    }

    .fa-xs { height: .75em; width: .75em; }
    .fa-sm { height: .875em; height: .875em; }
    .fa-1x { height: 1em; width: 1em; }
    .fa-lg { height: 1.33em; width: 1.33em; }
    .fa-2x { height: 2em; width: 2em; }
    .fa-3x { height: 3em; width: 3em; }
    .fa-4x { height: 4em; width: 4em; }
    .fa-5x { height: 5em; width: 5em; }
    .fa-6x { height: 6em; width: 6em; }
    .fa-7x { height: 7em; width: 7em; }
    .fa-8x { height: 8em; width: 8em; }
    .fa-9x { height: 9em; width: 9em; }
    .fa-10x { height: 10em; width: 10em; }
  }

  &.square {
    border-radius: 0 !important;
  }

  &.circle, &.disc {
    border-radius: 50% !important;
  }

  &.disc {
    padding: .7em;
    border: none;
  }
}
</style>
