$c: (
  'g': #f7fafc #edf2f7 #e2e8f0 #cbd5e0 #a0aec0 #677890 #4a5568 #2d3748 #1a202c,
  'm': #fcf7f7 #f7eeed #f0e5e2 #e0cecb #c0a6a0 #916f65 #68524a #48342d #2c1f1a,
  'f': #fbf5ff #edd8fd #dcbcfa #c194f4 #a87ede #977ac2 #725794 #50386e #3d2957,
  'b': #ebfdff #b4e8fa #7ddbf0 #42c4e1 #31acce #2b8fb0 #2c6a82 #2a5265 #094157,
  'v': #fdfff0 #dde69a #c5d368 #a8bb48 #889e3a #6c7e31 #556727 #465422 #364219,
  'o': #fff9f0 #fee7c8 #fbc98d #f6a055 #fc8e3a #dd6418 #cc4e13 #9c3c1c #7b2f1a,
  'r': #fff6f5 #fedcd7 #febbb2 #fc8f81 #f57665 #e65740 #d93e25 #c42719 #9c221c,
  'j': #fffbf0 #fff2c2 #ffdd82 #f2b43f #e09731 #d4820c #c47123 #a3551d #853c17,
  'd': #ffffff #f1f1f1 #e7e7e7 #d3d3d3 #acacac #767676 #545454 #363636 #1f1f1f,
);

$bsClass: ('primary', 'secondary', 'dark', 'light', 'info', 'success', 'warning', 'danger', 'muted');

@function c($key, $index) {
  @return nth(map-get($c, $key), $index);
}

@function bs($item, $index) {
  @if $item == 'c' { // color
    @return c(nth(nth($bsColor, $index), 1), nth(nth($bsColor, $index), 2));
  }

  @if $item == 'c-1' { // letter
    @return c(nth(nth($bsColor, $index), 1), nth(nth($bsColor, $index), 2) - 1);
  }

  @if $item == 'c+1' { // letter
    @return c(nth(nth($bsColor, $index), 1), nth(nth($bsColor, $index), 2) + 1);
  }
}

$bsColor: (('f', 7), ('g', 7), ('g', 8), ('g', 2), ('b', 7), ('v', 6), ('o', 7), ('r', 8), ('d', 7));

$bgcolor: c(g, 3);

$primary: bs(c, 1);
$secondary: bs(c, 2);
$dark: bs(c, 3);
$light: bs(c, 4);
$info: bs(c, 5);
$success: bs(c, 6);
$warning: bs(c, 7);
$danger: bs(c, 8);
$muted: bs(c, 9);

$violet: c(f, 7);
$orange: c(o, 7);
$bleu: c(b, 7);
$rouge: c(r, 8);
$vert: c(v, 6);
$jaune: c(j, 7);
$marron: c(m, 7);

/* -------------------------------------------------------------------------- */
/* New classes
  f = [f]iolet ; b = bleu ; v = vert ;  o = orange ; r = rouge ; j = jaune ;
  m = marron ;   g = gris ; l = light ; d = dark ;
  fb- = background ; fc- = color ; fd- = border */

.violet { color: c(f, 7); fill: c(f, 6);}
.orange { color: c(o, 7); fill: c(o, 6); }
.bleu { color: c(b, 7); fill: c(b, 6); }
.rouge { color: c(r, 8); fill: c(r, 7); }
.vert { color: c(v, 6); fill: c(v, 5); }
.jaune { color: c(j, 7); fill: c(j, 6); }

@each $key, $colors in $c {
  @for $i from 1 through 9 {
    .fc-#{$key}#{$i} {
      color: nth($colors, $i);
      fill: nth($colors, $i);
    }

    .fb-#{$key}#{$i} {
      background-color: nth($colors, $i);
    }

    .fd-#{$key}#{$i} {
      border-color: nth($colors, $i);
    }
  }
}

@each $key, $colors in $c {
  @for $i from 1 through 9 {
    .hover\:fc-#{$key}#{$i}:hover,
    .focus\:fc-#{$key}#{$i}:focus {
      color: nth($colors, $i);
      fill: nth($colors, $i);
    }

    .hover\:fb-#{$key}#{$i}:hover,
    .focus\:fb-#{$key}#{$i}:focus {
        background-color: nth($colors, $i);
    }

    .hover\:fd-#{$key}#{$i}:hover,
    .focus\:fd-#{$key}#{$i}:focus {
      border-color: nth($colors, $i);
    }
  }
}

.fc-light,
.fa-inverse,
.text-white {
  color: c(d, 1);
  fill: c(d, 1);
}

.fb-light {
  background-color: c(d, 1);
}

.fd-light {
  border-color: c(d, 1);
}

.fc-dark,
.text-dark {
  color: c(d, 9);
  fill: c(d, 9);
}

.fb-dark {
  background-color: c(d, 9);
}

.fd-dark {
  border-color: c(d, 9);
}

.fc-0 {
  color: transparent;
  fill: transparent;
}

.fb-0 {
  background-color: transparent;
}

.fd-0 {
  border-color: transparent;
}

.hover\:fc-light:hover,
.focus\:fc-light:focus {
  color: c(d, 1);
  fill: c(d, 1);
}

.hover\:fb-light:hover,
.focus\:fb-light:focus {
  background-color: c(d, 1);
}

.hover\:fd-light:hover,
.focus\:fd-light:focus {
  border-color: c(d, 1);
}

.hover\:fc-dark:hover,
.focus\:fc-dark:focus {
  color: c(d, 9);
  fill: c(d, 9);
}

.hover\:fb-dark:hover,
.focus\:fb-dark:focus {
  background-color: c(d, 9);
}

.hover\:fd-dark:hover,
.focus\:fd-dark:focus {
  border-color: c(d, 9);
}

.hover\:fc-0:hover,
.focus\:fc-0:focus {
  color: transparent;
  fill: transparent;
}

.hover\:fb-0:hover,
.focus\:fb-0:focus {
  background-color: transparent;
}

.hover\:fd-0:hover,
.focus\:fd-0:focus {
  border-color: transparent;
}