html, body {
  background: $bgcolor;
  color:c(d, 9);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: c(g, 7);
}

header h1 {
  font-family: "DejaVu Sans",Verdana,Geneva,sans-serif;
  font-size: 42px;

  .frama, .soft, .logiciel, .culture, .services, .vrac,
  .violet, orange, .bleu, .rouge, .vert, jaune {
    font-weight: bold;
  }
}

[data-url*="//framacarte.org"],
[data-url*="//framaboard.org"] {
  .big-title a {
    font-size: inherit;
  }
}

header .lead, .lead {
  font-style:italic;
}

.trait { /* hr */
  background-color: c(g, 2);
  height: 11px;
  margin: 15px 0px;
  border: medium none;
}

.ombre {
  background-color: c(d, 1);
  -webkit-box-shadow: $ombre;
  -moz-box-shadow: $ombre;
  box-shadow: $ombre;
}

.container.ombre {
  padding: 20px 30px;

  h2::after {
    content: " ";
    border-bottom: 5px solid c(g, 5);
    display: block;
    max-width: 80px;
    margin: .5rem 0 1.25rem;
  }

  h2.text-center::after {
    margin-left: auto;
    margin-right: auto;
  }

  #tuto-faq,
  #tuto-video,
  #le-logiciel,
  #jardin {
    h2 + p, 
    h2 + span {
      i.fa,
      span.glyphicon,
      i.glyphicon,
      .svg-icon {
        font-size:42px;
        color: c(g, 6);
        fill: c(g, 6);
      }
    }
  }

  .glyphicon-tree-deciduous::before {
      content: "";
      font-family: "ForkAwesome";
  }
}


@media (min-width:576px) {
  .container.ombre {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

img.ombre {
  box-shadow: $img-ombre;
  margin:10px;
  padding:0;
  width:90%;
}

.signature {
  font-style: italic;
  text-align:right;
  color:c(m, 7);
}

.modal-backdrop {
  opacity: 0.5;
}
